:host ::ng-deep {
  .home-section {
    background-image: url("../../../assets/home-bg.png");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    color: #fff;

    .content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 60%;
      padding-top: 8rem;

      .content-title {
        font-family: "Nanum Myeongjo", serif;
        text-align: center;
      }

      .journey-details {
        margin-top: 3rem;
        .p-tabview-nav {
          margin-bottom: 0 !important;
          background-color: transparent;
          padding-left: 0;
          gap: 0.25rem;
          border: none;

          li .p-tabview-nav-link {
            font-family: "Mukta", sans-serif;
            font-size: 16px;
            font-weight: 400;
            color: white;
            background: #af8549;
            text-decoration: none;
          }

          li.p-highlight .p-tabview-nav-link {
            background: white;
            color: black;
            border: none;
          }
        }

        .p-tabview .p-tabview-panels {
          padding: 0;
          border-top-right-radius: 6px;
        }
      }
      @media (max-width: 768px) {
        .journey-details {
          margin-top: 3rem;
          width: 25rem !important;
        }
      }
    }
  }
}

/* CSS for p-tabView for mobile responsiveness */
:host ::ng-deep {
  .p-tabview .p-tabview-nav {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    display: flex;
    flex-wrap: nowrap;
    -webkit-overflow-scrolling: touch; /* For momentum scrolling on iOS */
  }

  .p-tabview-nav li {
    display: inline-block; /* Inline-block to allow for horizontal scroll */
    flex: 0 0 auto; /* Do not grow or shrink */
  }

  /* Optional: reduce padding/margin for each tab on smaller screens */
  @media (max-width: 768px) {
    .p-tabview-nav li {
      margin-right: 0.25rem;
    }
  }
}
