.tabPanel {
  display: flex;
  flex-wrap: wrap;
  font-family: "Mukta", sans-serif;
  justify-content: center; // Center the tabs on the page

  & > * {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 1.25rem 2.5rem; // Padding around each tab item
    border-right: 1px solid #d8d8d8;
    color: #1c1b1f;
    flex: 1 1 auto; // Allow the items to grow but also have a minimum size
    max-width: 210px;
    justify-content: center;
  }

  & > *:last-child {
    justify-content: center;
    align-items: center;
    cursor: pointer;
    padding: 1.8rem;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
    background: #af8549;
    border-right: none;
    max-width: 100px; // Max width for the search icon area
    &:hover {
      // filter: brightness(0.7);
      /* Hover state */
      background-color: #e6ac00; /* A darker shade for hover */
      box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* A more pronounced shadow for hover */
    }
  }

  @media (max-width: 768px) {
    & > * {
      padding: 0.8rem; // Reduced padding for smaller screens
      flex-basis: 100%; // Make each tab take full width on smaller screens
      max-width: none; // Remove max-width to allow for full width
      border-right: none;
      border-bottom: 1px solid #d8d8d8;
    }

    & > *:last-child {
      order: -1; // Place search at the top on small screens
      flex-basis: auto; // Allow the search button to grow as needed
      padding: 1.2rem; // Adjusted padding for the search button
      border-top: 1px solid #d8d8d8; // Add a border to the top
      border-radius: 0; // Reset border-radius
    }
  }

  small {
    font-size: 14px;
    font-weight: 500;
  }

  h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 0;
  }

  h6 {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 0;
  }
}

.date-disabled {
  color: #898989;
}
.apply-button {
  background-color: #af8549; /* This is a common gold color, but you should pick the exact color from your design */
  color: white; /* Assuming the text color is white */
  border: none; /* No border for a flat button look */
  border-radius: 25px; /* Adjust this value to match the curvature of your design */
  padding: 12px 30px; /* Adjust padding to match the proportions of your design */
  font-size: 16px; /* Adjust to match the design */
  font-weight: bold; /* For bold text */
  text-transform: uppercase; /* If the text is in uppercase */
  cursor: pointer;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adjust to match the shadow in your design */
  transition: background-color 0.3s, box-shadow 0.3s; /* Smooth transition for interactive states */
  /* Centering the button - assumes the button is a flex child */
  display: block; /* Change to 'flex' if using Flexbox for centering */
  margin: 0 auto; /* Centers the block */

  /* Hover state */
  &:hover {
    background-color: #e6ac00; /* A darker shade for hover */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3); /* A more pronounced shadow for hover */
  }

  /* Active (clicked) state */
  &:active {
    background-color: #ffa000; /* An even darker shade for active state */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2); /* A flatter shadow for pressed effect */
  }
}

::ng-deep {
  .p-overlaypanel .p-overlaypanel-content {
    ul {
      padding-left: 0;
    }
    .travellerForm {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      // Style for the dropdown, if you want to adjust its size as well
      p-dropdown {
        width: 100%; // Full width within the control container
        .p-dropdown-label {
          padding: 0.25rem; // Adjust padding for the label inside the dropdown
        }
      }
      .control {
        display: flex;
        justify-content: space-between;
        gap: 1rem; // Adjusted gap for responsiveness
        .label {
          display: flex;
          flex-direction: column;
          font-family: "Mukta", sans-serif;
          font-weight: 400;
          span {
            font-size: 14px;
          }
          small {
            font-size: 12px;
            color: #898989;
          }
        }

        p-inputnumber,
        .p-inputnumber {
          flex-wrap: wrap !important;
          align-content: center !important;
          .p-inputnumber-buttons-horizontal .p-inputnumber-input {
            border: none;
          }

          .p-inputnumber.p-component .p-inputnumber-input {
            text-align: center; // Center the text horizontally
          }

          span {
            input {
              max-width: 36px; // Adjust input width for aesthetics
            }
            button {
              border-radius: 24px;
              background: white;
              color: black;
              border-color: black;
            }
          }
        }

        // Style for the plus and minus buttons
        p-inputnumber .p-inputnumber-button {
          width: 1.5rem; // Smaller width for buttons
          height: 1.5rem; // Smaller height for buttons
          line-height: 1.5rem; // Adjust line height to vertically center the icons
        }

        // Style adjustments for the input field
        p-inputnumber .p-inputnumber-input {
          padding: 0.25rem; // Reduce padding
          font-size: 0.875rem; // Smaller font size if necessary
          max-width: 2rem; // Set a max width for the input field
        }
      }
    }
  }
}

::ng-deep {
  .p-dropdown {
    display: inline-flex;
    cursor: pointer;
    position: relative;
    -webkit-user-select: none;
    user-select: none;
    border: none;
  }
  .p-dropdown .p-dropdown-label.p-placeholder {
    color: black;
    font-size: 14px;
    font-weight: 500;
  }
  .p-dropdown .p-dropdown-trigger {
    background: transparent;
    color: black;
    width: 3rem;
    border-top-right-radius: 6px;
    border-bottom-right-radius: 6px;
  }

  .p-dropdown.p-dropdown-clearable .p-dropdown-label {
    padding-right: 0 !important;
  }
  .p-calendar .p-inputtext {
    flex: 1 1 auto;
    width: 1%;
    border: none;
    width: 8rem !important;
    cursor: pointer;
  }
  .p-dropdown .p-dropdown-panel {
    min-width: 14rem;
  }
  /* Global styles.css file */
  /* Target the input field inside the PrimeNG calendar component */
  .p-calendar .p-inputtext::placeholder {
    color: black; /* Your desired placeholder color */
  }

  /* For Internet Explorer */
  .p-calendar .p-inputtext:-ms-input-placeholder {
    color: black; /* Your desired placeholder color */
  }

  /* For Microsoft Edge */
  .p-calendar .p-inputtext::-ms-input-placeholder {
    color: black; /* Your desired placeholder color */
  }

  .pi-angle-down:before {
    content: "\e930";
    color: black;
  }
}
