<form class="flightForm" [formGroup]="flightForm">
  <div class="tabPanel default-tab">
    <div class="cityFrom">
      <p-dropdown
        [options]="countriesFrom"
        (onFilter)="onInputFromChange($event)"
        (onChange)="onCountryFromChange($event)"
        formControlName="cityFrom"
        optionLabel="name"
        [filter]="true"
        [showClear]="true"
        placeholder="From"
        [ngClass]="flightForm.get('cityFrom')?.value ? 'data-found' : ''"
        #citFromInput
      >
      </p-dropdown>
      <!-- <h3 *ngIf="selectedCountryFrom?.name">{{ selectedCountryFrom?.name }}</h3> -->
      <h6 *ngIf="flightForm.get('cityFrom')?.value?.iataCode">
        {{
          flightForm.get("cityFrom")?.value?.iataCode +
            ", " +
            flightForm.get("cityFrom")?.value?.address?.cityName +
            " " +
            flightForm.get("cityFrom")?.value?.address?.countryName
        }}
      </h6>
    </div>
    <div class="cityTo">
      <p-dropdown
        [options]="countriesTo"
        (onFilter)="onInputToChange($event)"
        (onChange)="onCountryToChange($event)"
        formControlName="cityTo"
        optionLabel="name"
        [filter]="true"
        [showClear]="true"
        placeholder="To"
        [ngClass]="flightForm.get('cityTo')?.value ? 'data-found' : ''"
        #citToInput
      >
      </p-dropdown>
      <!-- <h3 *ngIf="selectedCountryTo?.name">{{ selectedCountryTo?.name }}</h3> -->
      <h6 *ngIf="flightForm.get('cityTo')?.value?.iataCode">
        {{
          flightForm.get("cityTo")?.value?.iataCode +
            ", " +
            flightForm.get("cityTo")?.value?.address?.cityName +
            " " +
            flightForm.get("cityTo")?.value?.address?.countryName
        }}
      </h6>
    </div>
    <div class="dateFrom">
      <label *ngIf="flightForm.get('dateFrom')?.value">Departure</label>

      <p-calendar
        formControlName="dateFrom"
        [appendTo]="'body'"
        [minDate]="dateTime"
        placeholder="Departure"
        [iconDisplay]="'input'"
        [showIcon]="true"
        dateFormat="dd-mm-yy"
        inputId="templatedisplay"
        [ngClass]="flightForm.get('dateFrom')?.value ? 'have-value' : ''"
      >
        <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
          <i class="pi pi-angle-down pointer-events-none"></i>
        </ng-template>
      </p-calendar>
      <h3
        style="width: 25rem !important"
        *ngIf="flightForm.get('dateFrom')?.value"
      >
        {{ flightForm.get("dateFrom")?.value | date : "EEEE" }}
      </h3>
    </div>
    <div class="dateTo">
      <label *ngIf="flightForm.get('dateTo')?.value">Return</label>
      <p-calendar
        [disabled]="type === 1 || type === 3 ? true : false"
        formControlName="dateTo"
        [appendTo]="'body'"
        [minDate]="
          flightForm.get('dateFrom')?.value && type === 2
            ? flightForm.get('dateFrom')?.value
            : dateTime
        "
        placeholder="Return"
        [iconDisplay]="'input'"
        dateFormat="dd-mm-yy"
        [showIcon]="type === 2 ? true : false"
        inputId="templatedisplay"
        [ngClass]="flightForm.get('dateTo')?.value ? 'have-value' : 'no-value'"
      >
        <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
          <i
            *ngIf="type === 2"
            class="pi pi-angle-down pointer-events-none"
          ></i>
        </ng-template>
      </p-calendar>
      <h3
        style="width: 25rem !important"
        *ngIf="flightForm.get('dateTo')?.value"
      >
        {{ flightForm.get("dateTo")?.value | date : "EEEE" }}
      </h3>
    </div>

    <div class="travellers">
      <small class="d-flex gap-2" style="width: 25rem !important">
        <span (click)="travellersOp.toggle($event)" style="cursor: pointer">{{
          tab?.travellers?.header
        }}</span>
        <img
          (click)="travellersOp.toggle($event)"
          src="assets/arrow-down.svg"
          alt="Arrow Down"
          style="cursor: pointer"
        />
      </small>
      <h3
        style="width: 25rem !important"
        *ngIf="
          travellerForm.get('adults')?.value ||
          travellerForm.get('children')?.value ||
          travellerForm.get('infants')?.value
        "
      >
        {{ numberOfTravellers ? numberOfTravellers + " Travellers" : 0 }}
      </h3>
      <h6 *ngIf="travellerForm.get('class')?.value">
        {{ travellerForm.get("class")?.value.name }}
      </h6>
    </div>
    <div class="search">
      <a (click)="onSubmit()">
        <img (click)="onSubmit()" src="assets/search.svg" alt="Arrow Down" />
      </a>
    </div>
  </div>
  <div formArrayName="trips" class="row" *ngIf="type === 3">
    <div
      class="tabPanel array-tab"
      *ngFor="let trip of trips.controls; let i = index"
      [formGroupName]="i"
    >
      <!-- City From -->
      <div class="cityFrom">
        <p-dropdown
          [options]="countriesFrom"
          (onFilter)="onInputFromChange($event)"
          (onChange)="onCountryFromChange($event)"
          formControlName="cityFrom"
          optionLabel="name"
          [filter]="true"
          [showClear]="true"
          placeholder="From"
          [ngClass]="trip.get('cityFrom')?.value ? 'data-found' : ''"
        ></p-dropdown>
      </div>

      <!-- City To -->
      <div class="cityTo">
        <p-dropdown
          [options]="countriesTo"
          (onFilter)="onInputToChange($event)"
          (onChange)="onCountryToChange($event)"
          formControlName="cityTo"
          optionLabel="name"
          [filter]="true"
          [showClear]="true"
          placeholder="To"
          [ngClass]="trip.get('cityTo')?.value ? 'data-found' : ''"
        ></p-dropdown>
      </div>

      <!-- Date From -->
      <div class="dateFrom">
        <p-calendar
          formControlName="dateFrom"
          [appendTo]="'body'"
          placeholder="Departure"
          [iconDisplay]="'input'"
          [showIcon]="true"
          dateFormat="dd-mm-yy"
          inputId="templatedisplay"
          [ngClass]="trip.get('dateFrom')?.value ? 'have-value' : ''"
        >
          <ng-template pTemplate="inputicon" let-clickCallBack="clickCallBack">
            <i class="pi pi-angle-down pointer-events-none"></i> </ng-template
        ></p-calendar>
      </div>

      <!-- Add and Remove Buttons -->
      <div class="add" *ngIf="i >= 0">
        <button (click)="addTrip()" class="apply-button" type="button">
          Add
        </button>
      </div>
      <div *ngIf="i > 0" class="remove">
        <button (click)="removeTrip(i)" class="apply-button" type="button">
          Remove
        </button>
      </div>
    </div>
  </div>
</form>
<!-- Overlay Panel for selecting number of travellers -->
<p-overlayPanel #travellersOp [appendTo]="'body'">
  <ng-template pTemplate="content">
    <form class="travellerForm" [formGroup]="travellerForm">
      <div class="control">
        <div class="label">
          <span>Adults</span>
          <small>12+</small>
        </div>
        <p-inputNumber
          formControlName="adults"
          [showButtons]="true"
          [step]="1"
          [min]="0"
          buttonLayout="horizontal"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
          (ngModelChange)="onCounterChange($event)"
        ></p-inputNumber>
      </div>
      <div class="control">
        <div class="label">
          <span>Children</span>
          <small> 2-12</small>
        </div>
        <p-inputNumber
          formControlName="children"
          [showButtons]="true"
          [step]="1"
          [min]="0"
          buttonLayout="horizontal"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
          (ngModelChange)="onCounterChange($event)"
        ></p-inputNumber>
      </div>
      <div class="control">
        <div class="label">
          <span>Infants</span>
          <small>2-</small>
        </div>
        <p-inputNumber
          formControlName="infants"
          [showButtons]="true"
          [step]="1"
          [min]="0"
          buttonLayout="horizontal"
          incrementButtonIcon="pi pi-plus"
          decrementButtonIcon="pi pi-minus"
          (ngModelChange)="onCounterChange($event)"
        ></p-inputNumber>
      </div>
      <div class="control">
        <div class="label">
          <span>Class</span>
        </div>
        <p-dropdown
          formControlName="class"
          [options]="classes"
          optionLabel="name"
          placeholder="Select a Class"
        ></p-dropdown>
      </div>
      <button
        (click)="onApplyClick()"
        (click)="this.travellersOp.toggle($event)"
        type="button"
        [disabled]="travellerForm.invalid"
        class="apply-button"
      >
        Apply
      </button>
    </form>
  </ng-template>
</p-overlayPanel>
